@import url('https://fonts.googleapis.com/css?family=Piedra');
@import url('https://fonts.googleapis.com/css?family=DM+Mono:ital');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=Anton');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.about-page {
  min-height : 100vh;
  background: url('./components/img/background10.jpeg') center/cover;
}

.projects-page{
  background: url('./components/img/background4.jpeg') center/cover no-repeat;
}

.video-background{
  position: relative; 
  width:100%;
  min-height: 90vh;
  background-color: rgba(0,0,0,0.9);
}

.video-content{
  position :absolute;
  top: 50%;
  width: 100%;
  color:  #eda64a;
  font-family:'Piedra',cursive;
}

.summary-info{
  font-size : 25px;
  font-family: 'DM Mono', monospace;
}

.projects-header{
  font-size :30px;
  font-family: 'Chelsea Market', cursive;
}

.contacts-page{
  min-height: 100vh;
  background : url("./components/img/background14.jpeg") center/cover no-repeat;
}

.contacts-header{
  font-family: 'Anton', sans-serif;
  font-size :25px;
  color:#fff;
}